<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LPSS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getPoints</servlet-name>
    <servlet-class>algorithm.GetPoints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPoints</servlet-name>
    <url-pattern>/getPoints</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <servlet-class>connectionWeb.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBook</servlet-name>
    <servlet-class>connectionWeb.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookList</servlet-name>
    <servlet-class>connectionWeb.AddBookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookList</servlet-name>
    <url-pattern>/addBookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOperationList</servlet-name>
    <servlet-class>connectionWeb.AddOperationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOperationList</servlet-name>
    <url-pattern>/addOperationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStaff</servlet-name>
    <servlet-class>connectionWeb.AddStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStaff</servlet-name>
    <url-pattern>/addStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>connectionWeb.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkLogin</servlet-name>
    <servlet-class>connectionWeb.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogin</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteBookList</servlet-name>
    <servlet-class>connectionWeb.DeleteBookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookList</servlet-name>
    <url-pattern>/deleteBookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteOperationList</servlet-name>
    <servlet-class>connectionWeb.DeleteOperationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOperationList</servlet-name>
    <url-pattern>/deleteOperationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStaff</servlet-name>
    <servlet-class>connectionWeb.DeleteStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStaff</servlet-name>
    <url-pattern>/deleteStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>connectionWeb.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyStaff</servlet-name>
    <servlet-class>connectionWeb.ModifyStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStaff</servlet-name>
    <url-pattern>/modifyStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>people</servlet-name>
    <servlet-class>connectionWeb.People</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>people</servlet-name>
    <url-pattern>/people</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personal</servlet-name>
    <servlet-class>connectionWeb.Personal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personal</servlet-name>
    <url-pattern>/personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchBook</servlet-name>
    <servlet-class>connectionWeb.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBook</servlet-name>
    <url-pattern>/searchBook</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>forgetPassword</servlet-name>
    <servlet-class>connectionWeb.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetPassword</servlet-name>
    <url-pattern>/forgetPassword</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>downLoad</servlet-name>
    <servlet-class>connectionWeb.DownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downLoad</servlet-name>
    <url-pattern>/downLoad</url-pattern>
  </servlet-mapping>
</web-app>